/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require highlight_js/sunburst
 */
html body{
  background-image:url('bg1.jpg');
}
.ke-icon-more {
	background-image: url(../themes/default/default.gif);
	background-position: 0px -672px;
	width: 16px;
	height: 16px;
}
.blocks{
  border-radius: 6px;
  background: #fff;
  padding: 10px 15px;
}
.widgets{
  margin-bottom: 15px;
}
.icp{
  padding:10px 5px;
}
html body pre {margin-top:0;margin-bottom:0;}